{% extends 'base.html' %}
{% block con %}
    <div class="container mt-5 mb-5" style="font-size: 20px; font-weight: bold; width: 60%;">
        <h1><b>PROFILE</b></h1>
        <div class="row mt-5">
            <div class="col-lg-9">
                <div class="mb-3">
                    <label class="form-label">USERNAME</label>
                    <input type="text" value="{{user.username}}" disabled class="form-control" style="font-size: larger; font-weight: bold;" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label class="form-label">AGE</label>
                    <input type="text" value="{{user.age}}" style="font-size: larger; font-weight: bold;" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label class="form-label">POINT</label>
                    <input type="text" value="{{user.point}} P" style="font-size: larger; font-weight: bold;" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label class="form-label">COMMENT</label>
                    <textarea class="form-control" disabled style="font-size: larger; font-weight: bold;">{{ user.comment }}</textarea>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center mt-5">
                    <img src="{{ user.getpic }}" height="300px">
                </div>
            </div>
        </div>
        <div>
            <a href="{% url 'acc:update' %}" class="btn btn-dark" style="font-weight: bold;">정보수정</a>
            <button type="button" style="font-weight: bold;" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                계정삭제
            </button>
        </div>
    </div>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">계정삭제알림</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{% url 'acc:delete' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h3>PASSWORD 확인</h3>
                        <input name="passcheck" type="password" class="form-control mt-4 mb-4">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-danger">계정삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




   
{% endblock %}