{% extends 'base.html' %}

{% block con %}

<div class="container mt-5" style="width: 90%;">
    <h1><b>Translator </b></h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row mt-5 text-center">
            <div class="col-lg-5">
                <textarea class="form-control" name="before" style="height: 350px;" placeholder="텍스트를 입력하세요.">{{ bef }}</textarea>
            </div>
            <div class="col-lg-2" style="margin:auto;">
                    <select name="from" class="form-select" multiple aria-label="multiple select example" style="font-size:larger;" >
                        <!---
                        {% for code, name in ndict.items %}
                            <option value="{{ code }}" {% if from == code %} selected {% endif %}>{{name}}</option>
                        {% endfor %}
                        --->
                        <option value="ko" {%if from == 'ko' %} selected {% endif %}>한국어</option>
                        <option value="en" {%if from == 'en' %} selected {% endif %}>영어</option>
                        <option value="ja" {%if from == 'ja' %} selected {% endif %}>일본어</option>
                        <option value="zh-cn" {%if from == 'zh-cn' %} selected {% endif %}>중국어</option>
                        <option value="vi" {%if from == 'vi' %} selected {% endif %}>베트남어</option>
                    </select>
                    <button class="btn btn-dark mt-3 mb-3"> Trans </button>
                    <select name="to" class="form-select" multiple aria-label="multiple select example" style="font-size:larger;" >
                        <option value="ko" {%if to == 'ko' %} selected {% endif %}>한국어</option>
                        <option value="en" {%if to == 'en' %} selected {% endif %}>영어</option>
                        <option value="ja" {%if to == 'ja' %} selected {% endif %}>일본어</option>
                        <option value="zh-cn" {%if to == 'zh-cn' %} selected {% endif %}>중국어</option>
                        <option value="vi" {%if to == 'vi' %} selected {% endif %}>베트남어</option>
                    </select>
            </div>
            <div class="col-lg-5">
                <textarea class="form-control" name="dest" style="height: 350px;" disabled>{{ aft }}</textarea>
            </div>
        </div>
    </form>
</div>


{% endblock %}