{% extends "base.html"%}

{% block con %}
{% load mathfilters %}
<div class="container mt-5 mb-5" style="width: 80%;">
    <h1><b>{{ t.subject }}</b></h1>
    {{ t.content }}
    <hr>
        {% if user in t.voter.all %}
            <form method="POST" action="{% url 'vote:cancel' t.id%}">
                {% csrf_token %}
                <div class="row">
                    {% for i in mlist %}
                        <div class="col-lg-3 mt-3" >
                            <div class="card" style="height:350px">
                                <div class="card-body" {% if request.user in i.choicer.all %} style="background-color: rgba(247,250,46,0.44)" {% endif %}>
                                    <img src="{{ i.getpic }}" height="200px">
                                    <h5 class="card-title mt-2"><b>{{ i.name }}</b></h5>
                                    <p class="card-text"> {{ i.comment }}</p>
                                    {% if request.user in i.choicer.all %}
                                    <button class="btn btn-primary">투표취소</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% else %}
            <form method="POST" action="{% url 'vote:vote' t.id%}">
                {% csrf_token %}
                <div class="row" >
                    {% for i in mlist %}
                        <div class="col-lg-3 mt-3">
                                <div class="card" style="height:350px">
                                    <div class="card-body">
                                        <img src="{{ i.getpic }}" height="200px">
                                        <h5 class="card-title mt-2"><b>{{ i.name }}</b></h5>
                                        <p class="card-text"> {{ i.comment }}</p>
                                        <button name="menu" value="{{i.id}}" class="btn btn-secondary">투표하기</button>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% endif %}
</div>

{% endblock %}